<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632092174222-2n1itknlugrti7svao1httn08mt0d120.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632092174222-2n1itknlugrti7svao1httn08mt0d120</string>
	<key>API_KEY</key>
	<string>AIzaSyDtOrsK7IYuEYrSwMdqA0vykD4x7Zs9Iz8</string>
	<key>GCM_SENDER_ID</key>
	<string>632092174222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pvlminh.testAuthFirebase</string>
	<key>PROJECT_ID</key>
	<string>testauth-420a2</string>
	<key>STORAGE_BUCKET</key>
	<string>testauth-420a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632092174222:ios:2abaecbb044f099ef826df</string>
</dict>
</plist>